.button {
    -fx-background-color: #ffffff;

    -fx-text-fill: #426FC5;
}

.button:hover {
    -fx-background-color: #426FC5;
    -fx-text-fill: #ffffff;
}

.jfx-text-field:error, .jfx-password-field:error, .jfx-text-area:error{
	-jfx-focus-color: #D34336;
	-jfx-unfocus-color: #D34336;
}

.jfx-text-field .error-label, .jfx-password-field .error-label , .jfx-text-area .error-label{
	-fx-text-fill : #D34336;
	-fx-font-size: 1.0em;
}